button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  background-color: gray !important;
  color: white;
}

.table {
  background: #ffffff;
}
