/* HeroDetailComponent's private CSS styles */
label {
  display: block;
  width: 3em;
  margin: .5em 0;
  color: #fff;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h1 {
  color: #e9ecef;
  font-size: 60px;
}

.hero-img {
  width: 100%;
}

.row {
  text-align: center;
  background-color: #ffffffcc;
  padding: 20px;
  margin: 0px;
  box-shadow: 1px 2px 2px black;
}

.hero-video {
  width: 100%;
  height: -webkit-fill-available;
}

.jumbotron {
  background-image: linear-gradient(45deg, #5f7384b5, rgb(0 0 0 / 97%));
  padding: 0px;
}
