/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
  color: #fff
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.navbar {
  box-shadow: 1px 2px 3px 2px rgb(221, 217, 217);
}

.navbar a {
  color: #fff;
}

.nav-item {
  padding: 0 10px ;
}

.navbar a:hover {
  background : #ddd;
  color: #fff;
  border-radius: 10%;
}
